#accueil .ant-card-bordered {
    border: 1px solid #1dd2af;
    background-color: #ffffff;
}

#accueil .card1 .heading {
    color: #425b8a;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid #425b8a;
}

#accueil .card1 .title {
    color: #46546d;
    font-size: 20px;
    font-weight: 600;
}

#accueil .card1 .desc {
    color: #b6c6d0;
    font-size: 18px;
    font-weight: 400;
}

#accueil .card2 .heading {
    color: #425b8a;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid #425b8a;
}

#accueil .card2 .inner-card1,
#accueil .card2 .inner-card2 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
}

#accueil .card2 .label {
    border-radius: 3px;
    background-color: #e4e7ea;
    color: #95989a;
    font-size: 10px;
    font-weight: 400;
    padding: 1px 8px;
}

#accueil .card2 .inner-card1 .title {
    opacity: 0.87;
    color: #46546d;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

#accueil .card2 .inner-card1 .desc {
    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

#accueil .card2 .inner-card1 .desc.red {
    color: #fd5c63;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

#accueil .card2 .inner-card2 .title {
    opacity: 0.87;
    color: #46546d;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

#accueil .card2 .inner-card2 .desc {
    color: rgba(0, 0, 0, 0.54);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

#accueil .card2 .inner-card1 .ant-btn-primary,
#accueil .card2 .inner-card2 .ant-btn-primary {
    background-color: #33cabb;
    border-color: #33cabb;
}