#biocore .login-form {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
}

#biocore .ant-menu-inline .ant-menu-item {
    height: 60px;
    line-height: 60px;
}

#biocore .ant-menu-item-selected {
    color: #fd5c63;
    background-color: unset;
}

#biocore .ant-menu-inline .ant-menu-item::after {
    border-right: unset;
}

#biocore .removemargin {
    margin-left: -20px !important;
    padding-right: 2px;
    margin-right: 20px;
}

#biocore .green-border .ant-card-body {
    padding-left: 16px;
}

#biocore .sider-text {
    font-size: 18px;
    font-weight: 700;
}

#biocore .ant-menu-inline {
    border-right: 7px solid #bcc0c2;
    border-radius: 7px;
}

#biocore .actif {
    background-color: #ffffff;
}

#biocore .actif .ant-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #ffffff;
}

#biocore .actif .ant-card .label {
    color: #314e55;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

#biocore .actif .sub-menu .label {
    color: #618c87;
    font-size: 16px;
    font-weight: 600;
}